@tailwind base;
@tailwind components;
@tailwind utilities;



/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* .markdown h1 {
  font-size: 1.5rem;
}

.markdown h2 {
  font-size: 1.5em;
}

.markdown p {
  color: #333;
} */

/* styles/global.css に追加 */
.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.drag-over {
  background-color: #f0f0f0;
}



.markdown ol {
  @apply list-decimal pl-10;
}
.markdown ul {
  @apply list-disc pl-10;
}

.markdown  {
  @apply text-gray-800;
}

.markdown h4 {
  @apply text-lg border-b border-black my-5;
}

.markdown h1 {
  @apply text-6xl;
}

.markdown h2 {
  @apply text-4xl m-4;
}

.markdown p {
  @apply m-2;
}


.markdown-amazon-button {
  display: inline-block;
  background-color: #f0c14b;
  color: #333;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}